<div class="topo-detalhar-evento" id="topo">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="">{{evento.titulo}}</h1>
                <h2>{{evento.descricao}}</h2>
                <hr />

                <div class="margin-top-20"></div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default evento-box-bg no-border" style="background-image:url('{{evento.banner}}')" title="{{evento.titulo}}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top-20 ">
    <ol class="breadcrumb font-mon">
        <li><a href="#/main">Início</a></li>
        <li class="active">{{evento.titulo}}</li>
    </ol>
</div>
<div class="container view-container">
    <div class="row">
        <!--<div class="col-md-12">
            <div class="page-header">
                <h1 class="font-mon">Detalhes do evento<small> / <a href="#/main">voltar para lista de eventos</a></small></h1>
            </div>
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="font-mon no-margin">
                        Detalhes do Evento
                    </h4>
                </div>
                <div class="panel-body" data-ng-bind-html="evento.detalhes"></div>
            </div>
            <div class="margin-top-20"></div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="no-margin font-mon">Organizador: {{evento.organizador}}</h4>
                </div>
                <div class="panel-body">
                    <h4 class="font-mon no-margin "><i class="fa fa-calendar"></i> {{evento.inicio}} até {{evento.termino}}</h4>
                    <hr />
                    <h4 class="font-mon no-margin"><i class="fa fa-map-marker"></i> {{evento.local}}</h4>
                </div>
            </div>
            <div>
            </div>
            <div ng-switch="inscrito">
                <form ng-switch-when="true">
                    <a class="font-mon btn btn-danger btn-inscricao btn-lg margin-top-10"
                       role="button" data-ng-click="efetuarInscricao(evento)">CANCELAR MINHA INSCRIÇÃO</a>
                </form>
                <div ng-switch-default>
                    <a class="font-mon btn btn-success btn-inscricao btn-lg margin-top-10"
                       role="button" data-ng-click="efetuarInscricao(evento)">REALIZAR MINHA INSCRIÇÃO</a>
                </div>
            </div>

        </div>
    </div>
</div>