/*
    helpers
*/

.no-border {
    border: 0;
}

.no-padding {
    padding: 0;
}



.no-margin {
    margin: 0;
}

.margin-10 {
    margin: 10px;
}


.padding-10 {
    padding: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-60 {
    margin-top: 60px;
}


.margin-left-10 {
    margin-left: 10px;
}

.font-mon {
    font-family: 'Montserrat', sans-serif;
}

body { overflow-y:scroll; }

/* apenas sobrescrevendo fonte padrão do sharepoint para o app chrome*/
#suiteBar {
    font-family: 'Montserrat', sans-serif;
}

.topo {
    background: #f44d1c;
    background: -moz-linear-gradient(top, #f44d1c 0%, #e0351a 50%, #e0351a 51%, #d61f19 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f44d1c), color-stop(50%,#e0351a), color-stop(51%,#e0351a), color-stop(100%,#d61f19)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f44d1c 0%,#e0351a 50%,#e0351a 51%,#d61f19 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f44d1c 0%,#e0351a 50%,#e0351a 51%,#d61f19 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f44d1c 0%,#e0351a 50%,#e0351a 51%,#d61f19 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f44d1c 0%,#e0351a 50%,#e0351a 51%,#d61f19 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44d1c', endColorstr='#d61f19',GradientType=0 ); /* IE6-9 */
    padding-top: 78px;
    padding-bottom: 148px;
    color: #fff;
    text-align: center;
}

.topo-detalhar-evento {
    padding-top: 38px;
    padding-bottom: 38px;
    background: #ebebeb;
}

    .topo h1, .topo-detalhar-evento h1 {
        font-family: 'Montserrat', sans-serif;
        /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
        font-size: 3.0em;
    }

    .topo h2, .topo-detalhar-evento h2 {
        font-family: 'Montserrat', sans-serif;
        /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
        font-size: 1.8em;
        font-weight: normal;
    }

.topo img {
    max-width: 230px;
}


.evento-box {
    /*height: 280px;*/
    cursor: pointer;
}

.evento-box-bg {
    background-repeat: no-repeat;
    background-position: center;
    height: 226px;
}

.efeito-hover:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

/*
    botão  inscricao
*/
.btn-inscricao {
    width: 100%;
}

/* you can also define the transition style
   on the base class as well (.repeat-item) */
.view-container.ng-enter,
.view-container.ng-leave {
  -webkit-transition:0.4s ease-in-out all;
  transition:0.4s ease-in-out all;
}

.view-container.ng-enter,
.view-container.ng-leave.ng-leave-active {
  opacity:0;
}
.view-container.ng-leave,
.view-container.ng-enter.ng-enter-active {
  opacity:1;
}