/*
    helpers
*/

.no-border {
    border: 0;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.margin-10 {
    margin: 10px;
}


.padding-10 {
    padding: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-60 {
    margin-top: 60px;
}


.margin-left-10 {
    margin-left: 10px;
}

.font-mon {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-y: scroll;
}

/* apenas sobrescrevendo fonte padrão do sharepoint para o app chrome*/
#suiteBar {
    font-family: 'Montserrat', sans-serif;
}

.topo {
    background: #F1F1F1;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
}

.topo-detalhar-evento {
    padding-top: 58px;
    padding-bottom: 38px;
    background: #ebebeb;
}

    .topo h1, .topo-detalhar-evento h1 {
        font-family: 'Montserrat', sans-serif;
        /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
        font-size: 3.0em;
    }

    .topo h2, .topo-detalhar-evento h2 {
        font-family: 'Montserrat', sans-serif;
        /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
        font-size: 1.8em;
        font-weight: normal;
    }

.topo img {
    max-width: 230px;
}


.evento-box {
    /*height: 280px;*/
    cursor: pointer;
}

.evento-box-bg {
    background-repeat: no-repeat;
    background-position: center;
    height: 226px;
}

.efeito-hover:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

/*
    botão  inscricao
*/
.btn-inscricao {
    width: 100%;
}

/* you can also define the transition style
   on the base class as well (.repeat-item) */
.view-container.ng-enter,
.view-container.ng-leave {
    -webkit-transition: 0.4s ease-in-out all;
    transition: 0.4s ease-in-out all;
}

    .view-container.ng-enter,
    .view-container.ng-leave.ng-leave-active {
        opacity: 0;
    }

        .view-container.ng-leave,
        .view-container.ng-enter.ng-enter-active {
            opacity: 1;
        }
